@import url('https://fonts.googleapis.com/css2?family=Maitree:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap');

html {
    font-size: 18px;
}

body {
    margin: 0;
    padding: 0;
}

:root {
    --gray: #8B45C2;
    --green: #6BAA75;
    --red: #FD7347;
}

.page-container {
    position: relative;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    max-width: 56rem;
    padding-bottom: 12rem;
    margin: 0 1.5rem;
}

#portfolio .hero {
    pointer-events: none;
    cursor: default;
}

.hero {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: 1rem;
    color: black;
    text-decoration: none;
}

.hero:hover {
    opacity: 0.8;
} 

.space-underneath {
    margin-bottom: 3rem;
}

.image-collage p {
    margin-top: 0;
    font-size: 1rem;
    text-align: start;
    margin-top: .75rem;
    margin-bottom: 3rem;
}

img {
    width: 100%;
    object-fit: cover;
    max-height: 32rem;
}

.img-square-parent {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.img-square-parent img {
    width: 48%;
    aspect-ratio: 1 / 1;
}

h1 {
    font-family: 'Maitree', sans-serif;
    font-weight: 700;
    font-size: 2.5rem;
    text-align: end;
    margin: 0;
    padding-right: 1rem;
}

h2 {
    font-family: 'Maitree', sans-serif;
    font-weight: 300;
    font-size: 2rem;
    text-align: end;
    margin-top: 0;
}

#portfolio .home-icon .bi {
    fill: lightgray;
}

#portfolio .home-icon {
    pointer-events: none;
    cursor: default;
}

.home-icon {
    text-align: end;
    padding: 1rem 0;
}

#text h2 {
    color: var(--gray);
}

#kod h2 {
    color: var(--green);
}

#grafik h2 {
    color: var(--red);
}

p {
    font-family: 'Mulish', sans-serif;
    font-weight: 400;
    font-size: 1rem;
}

.text-box-container {
    display: flex;
    justify-content: space-evenly;
    gap: 4%;
    margin-bottom: 2rem;
    flex-wrap: wrap;
}

.text-box {
    width: 16rem;
    line-height: 1.4;
}

.big-text {
    font-size: 2rem;
}

a {
    font-weight: 700;
    font-family: "Mulish", sans-serif;
    font-size: 1rem;
}

a:hover {
    opacity: 0.8;
} 

.normal-text-link {
    color: black;
}

.about-text-link {
    color: var(--gray);
}

.about-code-link {
    color: var(--green);
}

.about-visuals-link {
    color: var(--red);
}

.read-about-text {
    text-align: center;
    font-weight: 700;
}

.button-container {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 2rem;
    flex-wrap: wrap;
    gap: 1rem;
}

.button-parent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-parent .bi {
    padding-top: 1rem;
}

.button-parent .bi-vector-pen {
    fill: var(--red);
}

.button-parent .bi-file-text {
    fill: var(--gray);
}

.button-parent .bi-code {
    fill: var(--green);
}

.about-text-button, 
.about-code-button,
.about-visuals-button {
    text-decoration: none;
    text-transform: uppercase;
    padding: 1rem;
    border-radius: 5px;
    color: white;
    width: 12rem;
    text-align: center;
    margin-top: 1rem;
}

.about-text-button {
    background-color: var(--gray);
}

.about-code-button {
    background-color: var(--green);
}

.about-visuals-button {
    background-color: var(--red);
}

.footer-content {
    display: flex;
    flex-direction: column;
    width: 56rem;
    height: 8rem;
    margin: 0 1.5rem;
}

footer {
    background-color: black;
    padding: 1rem 0;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

footer a {
    font-family: "Maitree", sans-serif;
    color: white;

}

@media only screen and (max-width: 1000px) {
    .text-box-container {
        flex-direction: column;
    }
    .text-box, .minimize-footer, .text-box-container, .text-box-container .big-text, .minimize-buttons {
        width: 28rem;
    }
  }

@media only screen and (max-width: 600px) {
    html {
        font-size: 16px;
    }
    h1 {
        font-size: 2rem;
    }
    h2 {
        font-size: 1.5rem;
    }
    .big-text {
        font-size: 1.5rem;
    }
    .text-box, .minimize-footer, .text-box-container, .text-box-container .big-text, .minimize-buttons {
        width: 100%;
    }
  }